@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=Nunito:wght@700&display=swap');

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#head_bar li{
    font-size: 20px;
}

header, h2, h4 {
    font-family: 'Gowun Dodum', sans-serif;
}

h2 {
    margin-bottom: 10px;
}

header {
    padding-left: 30px;
    padding-right: 30px;
}

h4 {
    margin: unset;
    padding-bottom: 6px;
}

.session1 {
    width: 600px;
    height: 500px;
    border: 1px solid mediumseagreen;
    display: flex;
    border-radius: 12px;
    flex-direction: column;

}

.fw-bold {
    margin-left: 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.fs-3 {
    margin-bottom: 25px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

}

.button {
    display: flex;
    justify-content: end;
}


.button button:first-child {
    margin-right: 290px;
}
.button button:nth-child(2), .button button:nth-child(3){
    margin-right: 10px;
}

.list-group-item {
    font-size: 20px;
    margin-bottom: 25px;
    padding-top: unset;
    padding-bottom: 6px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

}

footer{
    font-family: 'Gowun Dodum', sans-serif;
    padding-left: 30px;
    padding-right: 30px;
}
.nav-item{
    font-size: 20px;
}

.tooltip {
    position: relative;
    display: inline-block;
    opacity: 100;
}

.tooltiptext {
    visibility: hidden;
    width: 120px;
    border: 1px solid gray;
    background-color: gray;
    border-radius: 6px;
    padding: 15px;
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 110%;
    color: whitesmoke;
}

.tooltiptext::after {
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.levelInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
